@import "../../vars.css";

.container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 18px 24px;
    cursor: pointer;
    align-items: center;
}
.imgContainer {
    max-width: 40%;
    margin-right: 50px;
    height: auto;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.title {
    font-size: var(--fz-xxl);
    font-weight: 700;
    color: var(--white);
}

.description {
    margin-top: 6px;
    font-size: var(--fz-lg);
    font-weight: 400;
    color: var(--lightest-slate);
}

.skills {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    justify-content: left;
}

.skill {
    font-size: var(--fz-sm);
    font-weight: 400;
    border-radius: 100px;
    background: rgba(94, 234, 212, 0.1);
    color: rgba(94, 234, 212, 1);
    padding: 2px 22px;
}

.links {
    width: 60%;
    margin-top: 26px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--blue);
    font-size: 25px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid var(--blue);
    background: transparent;
    padding: 2px 20px;
}

@media screen and (max-width: 830px) {
    .container {
        padding: 10px 15px;
        max-width: 100%;
        flex-direction: column;
    }

    .imgContainer {
        max-width: 100%;
        height: auto;
        margin: 0px;
    }

    .image {
        margin-bottom: 10px;
        width: 100%;
    }

    .title {
        font-size: var(--fz-lg);

    }

    .description {
        margin-top: 2px;
        font-size: 18px;
    }

    .skill {
        font-size: var(--fz-xs);
        font-weight: 400;
        padding: 2px 13px;
    }

    .links {
        width: 100%;
        margin-top: 22px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .link {
        font-size: 22px;
        font-weight: 400;
        padding: 1px 22px;
    }
}