@import "../../vars.css";

.container {
    margin-top: 76px;
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    color: var(--white);
    font-size: var(--fz-heading);
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}