@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}
.intro {
    color: var(--blue);
    margin: 0px 0px 30px 4px;
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
    line-height: 1.1;
}

.title {
    font-size: clamp(40px, 8vw, 80px);
    line-height: 1.1;
    font-weight: 600;
    color: var(--lightest-slate);
    -webkit-font-smoothing: antialiased;
}

.subtitle {
    margin-top: 5px;
    color: var(--slate);
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    line-height: 0.9;
}

.description {
    font-size: var(--fz-xxl);
    line-height: 1.3;
    color: var(--slate);
    font-family: var(--font-sans);
    margin: 20px 0px 0px;
    max-width: 65%;
    margin-bottom: 30px;
}

.contactBtn {
    text-decoration: none;
    margin-top: 20px;
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    line-height: 1;
    border-radius: 4px;
    font-size: var(--fz-xxl);
    font-family: var(--font-mono);
    font-weight: 600;
    padding: 17px 26px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        margin-top: 15px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .content {
        align-items: flex-start;
    }
    
    .title {
        font-size: clamp(40px, 8vw, 80px);
        margin: 0px;
    }

    .description {
        font-size: var(--fz-lg);
        margin-bottom: 20px;
        max-width: 100%;
    }

    .contactBtn {
        font-size: 25px;
        font-weight: 500;
    }
}