@import "../../vars.css";

.container {
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    padding: 30px;
}

.container a {
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    color: var(--slate);
    line-height: 1;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text h2 {
    color: var(--lightest-slate);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    color: var(--slate);
    font-size: var(--fz-xl);
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    display: flex;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .container a {
        font-size: var(--fz-sm);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text h2 {
        font-size: 30px;
    }

    .text p {
        font-size: var(--fz-md);
        letter-spacing: 1px;
    }
    
    .links {
        margin: 10px;
        align-items: center;
        gap:25px;
    }
    .link {
        gap: 5px;
    }
}