@import "../../vars.css";

.container {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    --webkit-box-pack: center;
    --webkit-box-align: center;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    min-height: 70px;

}

.text h2 {
    color: var(--lightest-slate);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    color: var(--slate);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link a {
    color: var(--blue);
    text-decoration: none;
    font-size: var(--fz-lg);
    font-weight: 400;
    letter-spacing: 1.5px;
}

.link img {
    width: 20%;
    opacity: 80%;
}
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        margin-top: 50px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text h2 {
        font-size: 50px;
    }

    .text p {
        font-size: 25px;
    }
    
    .links {
        margin: 20px;
        align-items: center;
    }
    .link {
        gap: 5px;
    }

    .link img {
        width: 10%;
    }

    .link a {
        font-size: 15px;
    }
}